.jumbotron{
    background-color:purple;
    color:white;
    text-align: center;
    /*Margen para separa de navbar*/
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: black;
    color:white;
    margin-bottom: 0px;
    margin-top:10px;
}

a{
    color:white;
}

a:hover{
    text-decoration: none;
    color:purple;
}

h1,h4{
    text-align: center;
}

p{
    text-align: justify;
}
.card-lenguaje{
    flex:1 180px;
    margin-top:10px;
}

.btn-vermas{
    width:100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

#carrouselImg1,#carrouselImg2,#carrouselImg3{
    max-width: none !important;
}

.popover-header{
    background-color: purple !important;
    border: purple !important;
    color:white;
}

/*Celular*/
@media screen and (max-width: 550px) {
    .direccion{
        margin-top:10px;
    }

    #menuInferior{
        display: none !important;
    }

    #h1Titulo{
        font-size:50px;
        text-align:center;
    }

    #imgTitulo{
        width:100%;
    }
  }

  /*Laptop*/
  @media screen and (min-width: 550px) and (max-width: 1900px) {
    .direccion{
        margin-top:0px;
    }
    
     #menuInferior2{
        display: none !important;
     }

     #h1Titulo{
        font-size:50px;
        text-align:left
    }

    #imgTitulo{
        width:50%;
    }
  }

  .breadcrumb-item a{
      color:#6c757d;
  }

  body{
    overflow-x: hidden; /* Hide scrollbars */
  }

  img{
       width:100%;
       max-width:640px;
  }

  .progress-bar{
      background-color: red !important;
  }

  .progress{
      background-color:white;
      border:solid 1px !important;
  }

  .tab-content{
      padding-top:10px;
  }

  .card-header h5 button{
      color:white;
  }

  .card-header h5 button:hover{
    color:white;
    text-decoration: none;
}

.modal-header{
    color:white;
    background-color: purple;
}

.btn-success {
    background-color: purple !important;
    border: purple !important;
}

input:focus {
    border: purple !important;
  }

.btn-success:focus {
    color: #fff;
    background-color:  purple !important;
    border-color: purple !important;
    box-shadow: 0 0 0 0.2rem rgba(128,0,128,.5);
}
