/*MIXIN*/
.jumbotron {
  background-color: #800080;
  color: #fff;
  text-align: center;
  /*Margen para separa de navbar*/
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: #000;
  color: #fff;
  margin-top: 10px;}

a {
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #800080; }

h1, h4 {
  text-align: center; }

p {
  text-align: justify; }

.card-lenguaje {
  flex: 1 180px;
  margin-top: 10px;}

.btn-vermas {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

#carrouselImg1, #carrouselImg2, #carrouselImg3 {
  max-width: none !important; }

.popover-header {
  background-color: #800080 !important;
  border: #800080 !important;
  color: #fff; }

/*Celular*/
@media screen and (max-width: 550px) {
  .direccion {
    margin-top: 10px;
    margin-bottom: 0px; }
  #menuInferior {
    display: none !important; }
  #h1Titulo {
    font-size: 50px;
    text-align: center; }
  #imgTitulo {
    width: 100%; } }

/*Laptop*/
@media screen and (min-width: 550px) and (max-width: 1900px) {
  .direccion {
    margin-top: 0px;
    margin-bottom: 0px; }
  #menuInferior2 {
    display: none !important; }
  #h1Titulo {
    font-size: 50px;
    text-align: left; }
  #imgTitulo {
    width: 50%; } }

.breadcrumb-item a {
  color: #6c757d; }

body {
  overflow-x: hidden;
  /* Hide scrollbars */ }

img {
  width: 100%;
  max-width: 640px; }

.progress-bar {
  background-color: #dc3545 !important; }

.progress {
  background-color: #fff;
  border: solid 1px !important; }

.tab-content {
  padding-top: 10px; }

.card-header h5 button {
  color: #fff; }

.card-header h5 button:hover {
  color: #fff;
  text-decoration: none; }

.modal-header {
  color: #fff;
  background-color: #800080; }

.btn-success {
  background-color: #800080 !important;
  border: #800080 !important; }

input:focus {
  border: #800080 !important; }

.btn-success:focus {
  color: #fff;
  background-color: #800080 !important;
  border-color: #800080 !important;
  box-shadow: 0 0 0 0.2rem #800080; }
